# Seamless patient verification without the headache

Expedite onboarding, decrease patient frustration, safeguard PII, and orchestrate HIPAA-compliant identity verification for your healthcare platform. BAA offered upon request.

![](../images/66057fae394f47897c9231c2_healthtech_4f00c21f32b7.png)

Trusted by leading digital healthcare companies

![Circle Medical](../images/66048d92968cfd25921568ac_Circle_20Medical_276a3823da5a.svg)

![Curex](../images/66048d96f4e1880fd8d07c74_White_62aecd585d12.svg)

![DocSpace](../images/66048da2c1ace7e6be8403c1_Doc_20spaceWhite_893c28264117.svg)

![Dr. B](../images/6320c9d25c243e541e57e288_Dr_20B_3ec9d90e4946.svg)

![Simple Online Healthcare](../images/66048dc3d85af4df47fc467d_simpleonlinehealthcare_f39a5febb17d.svg)

![K Health](../images/66048db1e3a5a62b9ef69af5_Khealth_20white_9499429a8aee.svg)

![](../images/63581c23498b7038f1aaef97_square-white_9a1beb9d4ac1.svg)

![](../images/655e53e901571b2d06bbe4a9_Type_3DWhite_a44629f91862.svg)

![](../images/65fcb753d18020ce4e96efba_openai-white_30bf5535abe3.svg)

![](../images/655e54f42f58d2c32e41b060_Type_3DTwilio_2C_20Property_202_3DWhite_e3ff0945f7eb.svg)

![](../images/663badbf823a924efeba81a1_Etsy-White_2ee22d5b11ee.svg)

![](../images/67200fef55bb7b3abb6a97a2_Type_3DWhite_91c2c28e4340.svg)

![](../images/6792c9078e864f8b14557d0b_Fiverr-White_be6d46ab94fb.svg)

![](../images/648382bf51a4eb4816972c01_travelex-white_431ec36e23bf.svg)

![](../images/635818d512cb5b409ca530da_udemy-white_c5a0cf30d038.svg)

![](https://cdn.prod.website-files.com/6320c9d25c243e328157e175/65a088d1819cb17f5310c6e1_Type%3DWhite%20(1).svg)

![](../images/668fef0a628e1a9e15bbfa1e_Get_your_guide_white_d6383a809c47.svg)

![](../images/649277aa4ef774c7171b81c4_revel-white_f711439f75ec.svg)

![](https://cdn.prod.website-files.com/6320c9d25c243e328157e175/6422f06f9815455a238bf32a_Coffee%20Meets%20Bagel%20(5).svg)

![](../images/63fd22bd1695e82b6d7415b3_nWay-white-only_481eac549ce8.svg)

![](../images/63581bc3498b70c899aae569_branch-white_056f30b6733c.svg)

![](../images/635818b2a8f93f703d30cab7_gusto-white_69229e2994ae.svg)

![](../images/63581b6112cb5b8ae3a5607a_rippling-white_103640b37e53.svg)

![](../images/63581bfade588b0b6d6ad97c_rently-white_e1b7b316189a.svg)

![](../images/63581d150d13ac35ed49ecea_brex-white_2b0187ec3703.svg)

![](../images/6358182c0d13ac320249a805_newton-white_ad953a8895c6.svg)

![](../images/64947a1834c39e6740fb4376_reddit-white_597cef2fb094.svg)

![](../images/635818760d13ac497049ab7d_coursera-white_90ffa8f7115a.svg)

![](../images/635817dcf78a1d5a8aa3dd08_dapper-labs-white_877222763704.svg)

## Verify patients quickly and securely

Provide your patients with the same quality of care whether in-person or online, starting at onboarding.

Reduce patient drop-off

Automate onboarding to quickly and securely verify patients online, as part of your intake process. Prevent patient frustration with user-friendly flows and customizable in-app guidance.

Protect patient PII

Stay HIPAA compliant and collect only the patient data you need by setting redaction and access policies. To protect your sensitive data, Persona offers a BAA upon request.

Adhere to statewide or regional requirements

Tailor your collection flow by region. Choose what information to collect, which documents to accept, and which region-specific guidelines to include.

Automate administrative tasks

Streamline patient enrollment operations by consolidating identity data, screening documents, sending emails, and updating your admin tool directly from Persona.

## Verify patients at any point in their user journey.

Trigger patient verification during vital moments, such as prior to accessing sensitive records, ahead of an appointment, or before sending a prescription.

![](../images/66047c4b99f0b4bf3da27355_feature-abm-digital-health_0095c93d34cc.png)

## How Persona verifies patients

![](../images/66047d2a8acdcc86e611e086_abm-digital-health-collect_a1fc7c998724.png)

### Collect

Make it easier for patients to get verified. Seamlessly collect patient data and health insurance information at any point in their user life cycle. Configure the exact PII to collect and dynamically adjust friction for flows.

![](../images/66047d2b3f37a6983cdba606_abm-digital-health-verify_5972d2d6362c.png)

### Verify

Authenticate patient identities with any verification method (e.g. government ID, database). Confirm health documents like insurance cards to ensure patients have the coverage they need.  

![](../images/66047d2aee9d2c1470b0e235_abm-digital-health-automate_191c193f571b.png)

### Automate

Expedite onboarding to patient portals by automatically approving or declining a patient based on configured rules. Create custom workflows to automate manual tasks.  

### Designed with compliance in mind

Persona is committed to protecting your patients’ privacy, which is why we offer BAAs. Get in touch with our team to learn more.

[

Learn more

](../security.md)

![](../images/64a6df0eec5c6f5611dd9547_ccpa-cert_0a4e03eaf4b0.svg)![](../images/64a6df0eb93c41b9d76a2a81_gdpr-cert_070bdf557216.svg)![](../images/64a6df0eb93c41b9d76a2a24_soc-2-cert_f6e743221e79.svg)![](../images/64a6df0f6af98496c5f1ae8d_kantara-cert_e767b48567e9.svg)![](../images/64a6df0e9ebc3b4475b47623_ferpa-cert_02b0ec42f181.svg)![](../images/64a6df0f4255e8fde684de23_hippa-cert_f5f6dca0527a.svg)![](../images/64a6df0e5d2e5a5039efc922_iso-cert_975e6ad403f3.svg)![](../images/65c1282f5d87b1af911443de_PCI_badge_update_359a0ada6e65.svg)

![](../images/6331dc54e4cb79cc2fbeecee_quotes_34cc6b91e327.svg)

![K Health](../images/65dcfd10502d6d5a9501ad81_Type_3DBlack_dfcf2ae1cb56.svg)

[

### K Health uses Persona to seamlessly integrate with healthcare systems and streamline patient verification

Read the full story

](../customers/k-health.md)

## More resources

Lorem ipsum dolor it amet respequiv aloo mateer.

[

![](../images/6442c26856c74d3f40601d2c_2304_13_know_20your_20patient_a59c3a61232a.png)

Know Your Patient (KYP): How to mitigate healthcare fraud

9 mins

Read more

](https://withpersona.com/blog/know-your-patient-kyp-how-to-mitigate-healthcare-fraud)

[

![](../images/63d99fd90ced9795e88918e1_2301_05_id-mgmt-in-digital-health_66c655561fd4.png)

Identity management in digital health: protecting patient identities

8 mins

Read more

](https://withpersona.com/blog/identity-management-in-digital-health-protecting-patient-identities)

No items found.
