# From clicks to compliance: Mastering age verification online

Webinar

# From clicks to compliance: Mastering age verification online

Experts discuss how to adapt to new industry and regional requirements

Age restrictions are familiar to many businesses, but what was once a set of well-understood requirements is quickly becoming a tidal wave of new regulation. Relying on an age verification checkbox in a pop-up window, and asking users to be truthful when responding, is no longer sufficient to ensure your business remains in compliance. 

Whether it’s COPPA, GDPR, or other state- or industry-specific laws, a growing number of organizations need to navigate this patchwork of laws and compliance requirements with new processes and tools, all while maintaining the user-experience of their adult customer base.

---

Watch trust and safety experts discuss:

-   The specific challenges to implementing age verification.
-   Common compliance requirements, such as COPPA and GDPR, and how to interpret them for your business.
-   How to prepare your business for upcoming regulatory changes such as the Kids Online Safety Act (KOSA).

![Brittany Allen-speaker-image](../images/Brittany_Allen-speaker-image_5289fafdf29f.png)

Brittany Allen

Trust and Safety Architect at Sift

![JEFF SAKASEGAWA-speaker-image](../images/JEFF_SAKASEGAWA-speaker-image_86542f1490dd.png)

Jeff Sakasegawa

Trust and Safety Architect at Persona

# Complete the form to access the online event recording

Experts discuss how to adapt to new industry and regional requirements

Email address\*

First name\*

Last name\*

Company\*

Submit
