# Redact a Verification

[API Reference](../accounts/list-all-accounts.md)[Verifications](../verifications.md)

# Redact a Verification

DELETE

https://api.withpersona.com/api/v1/verifications/:verification-id

```
{
  "data": {
    "type": "verification/government-id",
    "attributes": {
      "address-city": null,
      "address-postal-code": null,
      "address-street-1": null,
      "address-street-2": null,
      "address-subdivision": null,
      "back-photo-url": null,
      "birthdate": null,
      "capture-method": null,
      "checks": [],
      "completed-at": null,
      "country-code": null,
      "created-at": "2019-11-15T21:24:24.000Z",
      "endorsements": null,
      "entity-confidence-reasons": [],
      "entity-confidence-score": null,
      "expiration-date": null,
      "front-photo-url": null,
      "height": null,
      "id-class": null,
      "identification-number": null,
      "issue-date": null,
      "issuing-authority": null,
      "name-first": null,
      "name-last": null,
      "name-middle": null,
      "restrictions": null,
      "selfie-photo-url": null,
      "sex": null,
      "status": "passed",
      "tags": [],
      "vehicle-class": null
    },
    "id": "ver_7f6w4qu7KK7gjjtgp7nAixHd",
    "relationships": {
      "inquiry": {}
    }
  }
}
```
