# Automated KYC verification: a guide for compliance managers (and others)

Published September 17, 2024

Last updated January 12, 2026

# Automated KYC verification: a guide for compliance managers (and others)

KYC has traditionally been a manual-intensive process. New technologies are reducing this burden. Here's how to automate more of your KYC process.

![Kerwell Liao](../images/Kerwell_Liao-headshot_8c780e4ffe4d.png)

Kerwell Liao

7 mins

Key takeaways

Know Your Customer (KYC) is the due diligence process followed companies to verify the identity of their clients and assess the potential that those clients will commit money laundering and fraud.

For many large companies, compliance is a significant cost center.

Automation is allowing companies to manage more with less, improving documentation, compliance, and security.
