# Identity verification for the Economic Crime and Corporate Transparency Act (ECCTA)

Industry

# Identity verification for the Economic Crime and Corporate Transparency Act (ECCTA)

The UK’s ECCTA introduces new identity verification requirements for companies. Find out who will need to verify their identity and how you can prepare.

![icon of a globe with a lock overlapping its bottom right](https://cdn.prod.website-files.com/6320c9d25c243e328157e175/664787b13d600153cb5d9907_blog-image%20(40).png)

Last updated:

5/17/2024

Read time: 7 minutes

Share this post

[](https://www.linkedin.com/shareArticle?mini=true&url=https://www.withpersona.com/blog/eccta-identity-verification&title=Identity%20verification%20for%20the%20Economic%20Crime%20and%20Corporate%20Transparency%20Act%20\(ECCTA\)&summary=The%20UK%E2%80%99s%20ECCTA%20introduces%20new%20identity%20verification%20requirements%20for%20companies.%20Find%20out%20who%20will%20need%20to%20verify%20their%20identity%20and%20how%20you%20can%20prepare.%20&source=Persona-Identities)

[](https://twitter.com/share?url=https://www.withpersona.com/blog/eccta-identity-verification&text=Identity%20verification%20for%20the%20Economic%20Crime%20and%20Corporate%20Transparency%20Act%20\(ECCTA\)&via=Persona_IDV)

[](https://news.ycombinator.com/submitlink?u=https://www.withpersona.com/blog/eccta-identity-verification&t=Identity%20verification%20for%20the%20Economic%20Crime%20and%20Corporate%20Transparency%20Act%20\(ECCTA\))

Copied 

\*

Email

Submit

Thank you, you'll see us in your inbox soon.

Table of contents

[What is the Economic Crime and Corporate Transparency Act?](./eccta-identity-verification.md#toc-0)[Identity verification for ECCTA](./eccta-identity-verification.md#toc-1)[How to prepare for the ECCTA’s identity verification requirements](./eccta-identity-verification.md#toc-2)[Persona streamlines identity verification around the world](./eccta-identity-verification.md#toc-3)

⚡ Key takeaways

-   The UK’s Economic Crime and Corporate Transparency Act (ECCTA) introduces several significant reforms aimed at fighting financial crime, including new data reporting and identity verification requirements for corporations and limited partnerships. 
-   The identity verification requirements are being rolled out into 2025 and apply to existing and new company directors, general partners, people with significant control (beneficial owners), and anyone filing documents with Companies House on a company’s behalf.

In recent years, the United Kingdom has focused on fighting economic crimes and money laundering by introducing new requirements for companies that are registered or doing business in the UK. 

The Economic Crime (Transparency and Enforcement) Act 2022 (ECTE Act) created the [Register of Overseas Entities](https://changestoukcompanylaw.campaign.gov.uk/register-of-overseas-entities/) to help oversee the purchase, sale, and transfer of property or land in the UK by foreign entities. It helps shine a light on foreign criminals who attempt to commit fraud or launder money in the UK through real estate. 

Passed in 2023, the Economic Crime and Corporate Transparency Act (ECCTA) builds on the ECTE Act by introducing a series of reforms for Companies House (the UK’s executive agency that maintains the official registry of businesses), limited partnerships, cryptoassets, and [anti-money laundering (AML)](./what-is-anti-money-laundering-aml-and-why-is-it-important.md) powers. 

Below, we cover some of the ECCTA’s key clauses and take a closer look at its [identity verification](./what-is-identity-verification-idv-and-how-does-it-work.md) requirements.

## What is the Economic Crime and Corporate Transparency Act?

The **Economic Crime and Corporate Transparency Act (ECCTA)** is a UK law aimed at fighting economic crimes, such as fraud and money laundering. It received royal assent on October 26, 2023, and is being rolled out in stages through 2025. 

Some of the ECCTA’s key reforms are:

-   **Companies House reforms:** The ECCTA makes the most significant changes to Companies House since 1844, when corporate registrations were first introduced. The agency will now take a more active role in fighting crime and promoting legitimate business in the UK by acting as a gatekeeper for company registrations, collecting more robust data, including ownership, and improving the data quality in its registry. One significant change is the introduction of identity verification requirements for company directors, people with significant control (PSC), and people filing on behalf of companies. 
-   **Limited partnership (LP) reforms:** Creates stricter registration and transparency requirements for LPs. For example, LPs will now need to have a registered office in the UK and must verify the identities of their general partners. Companies House also has new powers to close, restore, and sanction LPs. 
-   **Crypotasset reforms:** Amends the Proceeds of Crime Act 2002 (POCA) to allow law enforcement to more easily seize cryptoassets that were associated with a crime.
-   **AML-related reforms:** Makes it easier for businesses to share and law enforcement agencies to obtain information related to money laundering and terrorist financing for investigative purposes. 

The ECCTA also allows the government to hold large companies and partnerships liable for failing to prevent fraudulent activity by their employees and agents. These businesses could be liable even if they weren’t aware of the fraud or misconduct if they benefited from the fraud and didn’t have reasonable fraud prevention procedures in place.

## Identity verification for ECCTA

The ECCTA’s identity verification requirements apply to anyone who creates, runs, owns, or controls a company in the UK. Failing to comply could be a criminal offense and result in criminal sanctions or civil penalties, including:

-   A Level 5 fine (no stated limit)
-   Registrar of Companies-imposed civil penalties
-   Rejected filings for new incorporations and registrations
-   Rejected statutory filings
-   Potentially receiving an “unverified” status in the public registrar
-   Directors who don’t verify their identity may be forbidden from being a director in any registered business

The identity verification requirements and penalties are forthcoming. Some details are already available about whose identities need to be verified: 

-   **Current directors:** Existing directors, those with equivalent positions, and person(s) with significant control (referred to as PSCs in the Act) will have a transition period during which they will need to verify their identity. 
-   **New directors:** Directors and equivalents must verify their identity before filing an application to form the business. A new director at an existing business needs to verify their identity as quickly as possible — before the company notifies the Registrar of Companies. 
-   **New PSCs:** New PSCs of existing companies can be individuals or relevant legal entities (RLEs). Most hold more than 25% of the company’s shares, have more than 25% of the voting rights, or have the right to add or remove the majority of the board of directors. Individual PSCs will have 14 days to verify their identity after registering with the Registrar of Companies or after notifying the Registrar that they have become a PSC. RLEs will have 28 days and will be required to share the name of a verified officer in the company. 
-   **People acting on behalf of a company:** Need to verify their identity before they can file documents with Companies House. 

Additionally, new legislation will limit the ability of companies to serve as corporate directors. All directors of such companies must be natural persons who verify their identities. Existing businesses will have 12 months to comply with these changes. 

Free ebook

Get Persona's guide to global identity verification

[

Download now

](../guides/verifying-identities-around-the-world.md)

‍

## How to prepare for the ECCTA’s identity verification requirements

Secondary legislation and guidance from Companies House will provide more details about the ECCTA’s identity verification timelines, systems, requirements, [reverification](./what-is-reverification-and-why-does-it-matter.md), and penalties. 

Once identity verification requirements start, the process will need to be completed directly with Companies House or via an authorized corporate service provider (ACSP) such as an accountant, legal adviser, or agent. The [Corporate Transparency and Register Reform](https://www.gov.uk/government/publications/corporate-transparency-and-register-reform) white paper (page 44) shows what the process might look like if you use the Companies House reporting tool.

The process is intended to be as simple and seamless as uploading a picture of an [identity document](./document-verification-understanding-the-whole-process.md) and [taking a selfie](./what-is-selfie-identity-verification-and-how-does-it-work.md). 

Most individuals will likely only have to verify their identity once. Unlike some [Know Your Customer (KYC) requirements](./global-kyc-a-kyc-breakdown-by-countries.md), ECCTA may not require reverification if the ID expires. However, reverification could still be required in some situations, such as when fraud is suspected. 

You can also prepare for these upcoming requirements by:

-   Notifying anyone who may need to verify their identity that they need to have a current photo ID.
-   Creating a list of people who will likely become directors or PSCs, or will file documents on the company’s behalf in the coming year. 
-   Creating processes for verifying the identity of new hires, sometimes called a [Know Your Employee (KYE)](./know-your-employee-kye.md) process.

## Persona streamlines identity verification around the world

As the ECCTA’s identity verification requirements come into effect, businesses in the UK will need reliable and efficient ways to verify identities.

Persona’s [global ID verification solutions](./global-id-verification.md) can help streamline the collection, verification, and storage of identity information. Our [automated identity verifications](./automated-identity-verification.md) use live guidance and auto-capture, and easily allow people to switch between devices to verify their identity in seconds using government IDs, other approved documents, and selfies.  

That’s why [companies like Lime](../customers/lime.md) are already using Persona to comply with [KYC requirements in the UK](./kyc-uk.md). You can [get a demo](../contact.md) today or [start for free](https://app.withpersona.com/dashboard/signup) if you need to verify the identity of users, businesses, or employees.

The information provided is not intended to constitute legal advice; all information provided is for general informational purposes only and may not constitute the most up-to-date information. Any links to other third-party websites are only for the convenience of the reader.

Published on:

5/17/2024

## Frequently asked questions

No items found.

![Shana Vu](../images/650c68e13637ab69056d39c4_shana_square_9a8840e90af7.png)

## About the author

Shana Vu

Shana is a product marketing manager focused on the Persona platform and marketplaces. You can usually find her running around San Francisco with a coffee in hand.

Thank you, you'll see us in your inbox soon.

![Shana Vu](../images/650c68e13637ab69056d39c4_shana_square_9a8840e90af7.png)

## About the author

Shana Vu

Shana is a product marketing manager focused on the Persona platform and marketplaces. You can usually find her running around San Francisco with a coffee in hand.

### Share this post

[](https://www.linkedin.com/shareArticle?mini=true&url=https://www.withpersona.com/blog/eccta-identity-verification&title=Identity%20verification%20for%20the%20Economic%20Crime%20and%20Corporate%20Transparency%20Act%20\(ECCTA\)&summary=The%20UK%E2%80%99s%20ECCTA%20introduces%20new%20identity%20verification%20requirements%20for%20companies.%20Find%20out%20who%20will%20need%20to%20verify%20their%20identity%20and%20how%20you%20can%20prepare.%20&source=Persona-Identities)

[](https://twitter.com/share?url=https://www.withpersona.com/blog/eccta-identity-verification&text=Identity%20verification%20for%20the%20Economic%20Crime%20and%20Corporate%20Transparency%20Act%20\(ECCTA\)&via=Persona_IDV)

[](https://news.ycombinator.com/submitlink?u=https://www.withpersona.com/blog/eccta-identity-verification&t=Identity%20verification%20for%20the%20Economic%20Crime%20and%20Corporate%20Transparency%20Act%20\(ECCTA\))

## Continue reading

[

See all blog posts

](../blog.md)

## Continue reading

[

See all paw posts

](../about/lets-get-pawsonal.md)

![Workforce identity verification use cases: How to leverage IDV throughout the employee life cycle ](https://cdn.prod.website-files.com/6320c9d25c243e328157e175/67b4b085e4659368eefe88a7_blog-image%20(19).png)

Industry

[

## Workforce identity verification use cases: How to leverage IDV throughout the employee life cycle

](./workforce-identity-verification-use-cases.md)

Identity verification paired with (IAM) platforms in the workplace can enhance workforce security and prevent security threats. Here are 4 use cases to consider.

[

Read blog post

](./workforce-identity-verification-use-cases.md)

![What cryptocurrency companies need to know about the EU’s Markets in Crypto-Assets (MiCA) Regulation](https://cdn.prod.website-files.com/6320c9d25c243e328157e175/67aa1a36273debca52698827_blog-image%20(17).png)

Industry

[

## What cryptocurrency companies need to know about the EU’s Markets in Crypto-Assets (MiCA) Regulation

](./eu-markets-crypto-assets-mica-regulation.md)

Find out what the new regulation means for crypto service providers, and learn how to stay compliant.

[

Read blog post

](./eu-markets-crypto-assets-mica-regulation.md)

![How to protect your business against AI-based face spoofs](../images/67901ee2ae35b6a6259f13c1_fraud-ed-campaign_tofu-blog_ef66b9aeb829.png)

Industry

[

## How to protect your business against AI-based face spoofs

](./protect-business-against-ai-based-face-spoofs.md)

AI-generated face spoofs are challenging for humans and vision-based AI models to detect. Learn how to protect your business with a holistic strategy that goes beyond visual detection.

[

Read blog post

](./protect-business-against-ai-based-face-spoofs.md)

[![](../images/64e629be56d961c247c61025_2308_23_kyc-uk_1d9224998e26.png)

Know Your Customer (KYC) requirements & regulations in the UK

](https://withpersona.com/blog/kyc-uk)

Industry

[

## Know Your Customer (KYC) requirements & regulations in the UK

](./kyc-uk.md)

Learn about KYC requirements that exist for different industries in the UK.

[

Read blog post

](./kyc-uk.md)

[![](https://cdn.prod.website-files.com/6320c9d25c243e328157e175/65d633bfe136256325b151d0_blog-image%20(29).png)

Know Your Employee (KYE): How identity verification fits in the picture

](https://withpersona.com/blog/know-your-employee-kye)

Industry

[

## Know Your Employee (KYE): How identity verification fits in the picture

](./know-your-employee-kye.md)

A thorough Know Your Employee (KYE) process helps you verify the identity, credentials, and background of new and existing employees to control for fraud.

[

Read blog post

](./know-your-employee-kye.md)

[![](https://cdn.prod.website-files.com/6320c9d25c243e328157e175/65661296efbf0229f8d65dc3_blog-image%20(23).png)

Global ID verification: How to get it right with Persona

](https://withpersona.com/blog/global-id-verification)

Industry

[

## Global ID verification: How to get it right with Persona

](./global-id-verification.md)

Global ID verification is not one size fits all. Learn what to look for in a global IDV partner.

[

Read blog post

](./global-id-verification.md)
