# Introducing free identity verification with Persona

Published October 24, 2022

Last updated January 21, 2026

# Introducing free identity verification with Persona

Persona’s free plan offers 500 free government ID verifications with optional live selfie checks per month. Learn more.

![Rick Song](../images/Rick_e4734e6f64ac.png)

Rick Song

3 mins

![Icon of account verification interfaces](../images/Introducing_free_identity_verification_with_Persona-main-image_8998858150c2.png)
