# Global ID verification: How to get it right with Persona

Published November 28, 2023

Last updated January 21, 2026

# Global ID verification: How to get it right with Persona

Global ID verification is not one size fits all. Learn what to look for in a global IDV partner.

![Kerwell Liao](../images/Kerwell_Liao-headshot_8c780e4ffe4d.png)

Kerwell Liao

16 mins

Key takeaways

While it can be tempting to vet global ID verification (IDV) vendors based on metrics like coverage and pass rates, the numbers they provide may not be applicable to your business.

The more you can share with potential IDV providers about what you are trying to do and for whom and why, the more specific these companies can be about how they can meet your needs.

Persona can help you scale with a highly customizable global IDV solution that automates manual processes and can be configured to match regional regulations and use cases.
