# 8 tips to improve online customer verification

Published October 31, 2023

Last updated January 12, 2026

# 8 tips to improve online customer verification

Verifying customers and offering a great user experience are often seen as competing goals, but you can find a happy medium. Here's how.

![Louis DeNicola](../images/Louis_DeNicola-headshot_5b2b0e505fb6.png)

Louis DeNicola

6 mins

Key takeaways

Verifying customers and offering a great user experience are often seen as competing goals, but you can find a happy medium with risk-based segmentation and verification.

Try to ask for the minimum amount of information you need and automate processes to avoid unnecessary friction. 

Remember that risk is a spectrum, not a binary — and that identity is a relationship, not a transaction.
