# [Guide] Nuances of verifying identities around the world

Published March 14, 2024

Last updated January 29, 2026

# \[Guide\] Nuances of verifying identities around the world

It’s unlikely you can simply reuse your existing IDV strategy when entering new markets. Learn about the nuances of verifying identities around the world.

![Kerwell Liao](../images/Kerwell_Liao-headshot_8c780e4ffe4d.png)

Kerwell Liao

8 mins

![Passport covers from around the world](../images/_Guide__Nuances_of_verifying_identities_around_the_world-main-image_6e9295ed934b.png)

Key takeaways

In most cases, it’s unlikely that you can simply copy and paste your existing identity verification (IDV) strategy as you expand into new global markets.

Differences in fraud trends, regulations, IDs, and data sources around the world all require a nuanced approach to IDV. 

A successful expansion is a team sport, requiring early discussion, diverse viewpoints, and careful vendor selection.
