# Phone verification: An important part of identity verification and fraud prevention

Published June 09, 2023

Last updated January 12, 2026

# Phone verification: An important part of identity verification and fraud prevention

Learn how you can use various phone-related checks to help assess risk, confirm identities, and stop bad actors

![Louis DeNicola](../images/Louis_DeNicola-headshot_5b2b0e505fb6.png)

Louis DeNicola

6 mins

Key takeaways

Phone number verification confirms ownership of a phone number and can be an important part of identity verification and fraud prevention. 

Additional phone-related attributes and signals can help you determine the best next steps based on the risk associated with a phone number. 

And low-friction phone verifications can help confirm possession of the phone at onboarding or reverification.
