# Video KYC verification: What is it, and how does it work?

Published May 24, 2023

Last updated January 12, 2026

# Video KYC verification: What is it, and how does it work?

Video KYC refers to any KYC process that leverages video in some capability. Learn more.

![Tim Stobierski](../images/Tim_Stobierski-headshot_4d78f32922e4.png)

Tim Stobierski

8 mins

Key takeaways

Businesses can video KYC in a number of different ways. Two common strategies include 1) conducting a video interview during the KYC process and 2) automatically collecting video at key moments that can be accessed during manual review.

Video KYC may help businesses better identify and mitigate a variety of different types of fraud during their onboarding process.

KYC regulations vary from country to country, and there are jurisdictions where video KYC is either required or explicitly allowed.
