# What is address verification?

Published May 04, 2023

Last updated January 12, 2026

# What is address verification?

Address verification can help confirm if a person or business is based at the address they provided.

![Louis DeNicola](../images/Louis_DeNicola-headshot_5b2b0e505fb6.png)

Louis DeNicola

6 mins

Key takeaways

Verifying and validating an address is often an important part of onboarding customers and detecting fraud. 

Address validation services can help users fill in their address, confirm whether an address exists, and standardize address formats. 

Additional identify verifications can help confirm that the person or business is based at the address.
