# What is driver’s license verification?

Published March 23, 2023

Last updated January 12, 2026

# What is driver’s license verification?

Learn about this common way to verify someone’s identity or age.

![Louis DeNicola](../images/Louis_DeNicola-headshot_5b2b0e505fb6.png)

Louis DeNicola

6 mins

![Icon of a drivers license card](../images/What_is_driver_s_license_verification_61c6c4190cd8.png)

Key takeaways

Online driver’s license verification generally involves requesting a picture of a driver's license to verify a person’s identity. 

The image and information from the license can be reviewed for authenticity and checked against a user’s profile or what the user submits on an application. 

Consider adding additional checks, such as a selfie check or database verification, in high-risk scenarios or if there are red flags. 🚩
